body {
  background-color: rgb(81, 176, 218);
}

h1 {
  font: 4em Lucida sans, Arial, Helvetica, sans-serif;
  color: #333;

  font-weight: 400;
}

.title {
  margin: 2em 9em 0em 9em;
  border: solid 0.2em black;
  border-radius: 2em;
  width: 100%;
  text-align: center;
}
